.top-navigation
    .dropdown-menu
        box-shadow: 0 1rem 2rem -0.25rem rgba(51, 52, 80, 0.15)
        float: left
        min-width: 330px
        list-style: none
        background-color: #fff
        border: none
        background-clip: padding-box
        color: #5a5e79
        left: auto
        right: 0

        a, p, label
            font-size: 0.95rem
            line-height: 1.75rem
            display: block
            padding: .625rem 2rem
            color: inherit
            text-decoration: none

        .can-hover
            &:hover
                background-color: #f5f7fd
                color: #2a2c45

    .text-red
        color: $red

    .notification-letter
        position: absolute
        margin-top: -13.5px
        margin-left: 3.5px
        font-size: 0.72rem
