.view-dashboard
    .vacancy-list-header
        height: 80px
        background-color: #ebeef5

        form
            width: 100%

        @include media-breakpoint-up(sm)
            form
                width: 75%
        @include media-breakpoint-up(md)
            form
                width: 50%
        @include media-breakpoint-up(lg)
            form
                width: 35%


        .search-form
            .search-form-shadow-group
                box-shadow: rgba(51, 52, 80, 0.15) 0 16px 32px -4px
                border-radius: 1rem 1rem 1rem 1rem
                width: 100%

            .search-create
                height: 48px
                width: 64px
                background-color: $primary
                border-radius: 1rem 1rem 1rem 1rem
                border-style: none
                font-size: 1.25rem

                &:hover
                    text-decoration: none
                    background-color: $primary-hover

            input
                height: 48px
                border-radius: 1rem 0 0 1rem
                border-style: none
                color: rgb(90, 94, 121)

            .search-submit
                height: 48px
                width: 64px
                border-radius: 0 1rem 1rem 0
                border-style: none
                background-color: rgb(90, 94, 121)
                font-size: 1.25rem

                &:hover
                    background-color: $primary-hover

                i
                    position: relative
                    left: -.05em

    .vacancy-list-filter
        height: 60px
        background-color: white

        .btn-link
            background-color: #5a5e79
            border-radius: 0.75rem 0.75rem 0.75rem 0.75rem
            box-shadow: rgba(51, 52, 80, 0.10) 0 16px 32px -4px

            &:hover
                text-decoration: none
                background-color: $primary-hover

        .btn-link-active
            background-color: $primary

    .vacancy-list
        li:nth-child(odd)
            background-color: #fafbfe

        li:nth-child(even)
            background-color: white

        li:hover
            background-color: #f5f7fd

        .completed
            background-color: #deffde !important

        .vacancy-count
            padding: 12px 64px 10px 64px

        .vacancy
            padding: 20px 64px 20px 64px

            small
                align-self: center

            h5
                align-self: center
                margin: 0

            p
                line-height: 1
                align-self: center

            .list-button
                font-size: 1rem
                line-height: 1.75rem
                display: block
                padding: .625rem 2rem
                color: inherit
                text-decoration: none

                &:hover
                    background-color: #b8fab1
                    color: #2a2c45

            .list-button-secondary
                &:hover
                    background-color: #d3a5fa
                    color: #2a2c45

            .dropdown-toggle
                color: #5a5e79
                font-size: 1.15rem
                background: transparent !important
                border-top-color: transparent !important
                border-right-color: transparent !important
                border-left-color: transparent !important
                border-bottom-color: transparent !important
                z-index: 2000

                &:focus
                    box-shadow: none
                    transform: rotate(180deg)

                &:after
                    content: none

            .dropdown-menu
                box-shadow: 0 1rem 2rem -0.25rem rgba(51, 52, 80, 0.15)
                float: left
                min-width: 230px
                list-style: none
                background-color: #fff
                border: none
                background-clip: padding-box
                color: #5a5e79
                left: auto
                right: 0

            .dropdown-menu > a
                font-size: 1rem
                line-height: 1.75rem
                display: block
                padding: .625rem 2rem
                color: inherit
                text-decoration: none

                &:hover
                    background-color: #f5f7fd
                    color: #2a2c45

    .pagination-item
        height: 40px
        width: 40px
        background-color: #5a5e79
        border-radius: 1rem 1rem 1rem 1rem
        border-style: none
        font-size: 1.15rem

        &:hover
            text-decoration: none
            background-color: $primary-hover

    .pagination-item-active
        background-color: $primary
